## Import Libraries and Data

In [18]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# Specify dtype option on import or set low_memory=False.
pd.options.mode.chained_assignment = None  # default='warn'

import math
import scipy

# Datviz purposes
import matplotlib.pyplot as plt
plt.style.use('bmh')
import seaborn as sns
sns.set_style('darkgrid')
import plotly.express as px

In [19]:
try :
    train_data = pd.read_csv("/kaggle/input/penyisihan-joints-data-competition-2023/train.csv", low_memory=False)
    test_data = pd.read_csv("/kaggle/input/penyisihan-joints-data-competition-2023/test.csv", low_memory=False) # For Kaggle

except :
    train_data = pd.read_csv("../datasets/train.csv", low_memory=False)
    test_data = pd.read_csv("../datasets/test.csv", low_memory=False) # For local development

In [20]:
print(train_data.isnull().sum())
print("\n",train_data.shape)

Unnamed: 0                             0
floors_before_eq (total)          332806
old_building                      239204
plinth_area (ft^2)                421208
height_before_eq (ft)             332806
land_surface_condition            301606
type_of_foundation                239204
type_of_roof                      421208
type_of_ground_floor              332806
type_of_other_floor               301606
position                          312006
building_plan_configuration       301606
technical_solution_proposed       676014
legal_ownership_status            124802
has_secondary_use                 197604
type_of_reinforcement_concrete    291206
residential_type                  270404
no_family_residing                145602
public_place_type                      0
industrial_use_type               114402
govermental_use_type              249604
flexible_superstructure            62400
wall_binding                       62400
wall_material                     228804
damage_grade                           0
dtype: int64

 (722815, 25)

In [21]:
print(test_data.isnull().sum())
print("\n",test_data.shape)

id                                0
floors_before_eq (total)          0
old_building                      0
plinth_area (ft^2)                0
height_before_eq (ft)             0
land_surface_condition            0
type_of_foundation                0
type_of_roof                      0
type_of_ground_floor              0
type_of_other_floor               0
position                          0
building_plan_configuration       0
technical_solution_proposed       0
legal_ownership_status            0
has_secondary_use                 0
type_of_reinforcement_concrete    0
residential_type                  0
no_family_residing                0
public_place_type                 0
industrial_use_type               0
govermental_use_type              0
flexible_superstructure           0
wall_binding                      0
wall_material                     0
dtype: int64

 (242082, 24)

In [22]:
# Print all unique values in each column
for col in train_data.columns:
    print(col, train_data[col].unique())

print("\nTrain data shape: ", train_data.shape)

Unnamed: 0 [     0      1      2 ... 520008 520009 520010]
floors_before_eq (total) ['floor two' 'Floor 3' 'Two Floor' 'two' ' just 2 floor' nan
 'There is 2 Floor/Story' 'Floor two' '1st Story' 'Floor 2' 'fifth'
 'Three floor' 'floor one' '2' 'Has 1 floor' 'one story' 'two story'
 'floor second' 'floor third' '3.00' '1' ' has 3 Floor' '2 floor'
 'three Story' 'Floor 1' 'floor 1st' 'one' 'Just 1 floor' 'Floor-three'
 'Three' 'four Floor' ' has Four fl' 'Fl four' 'Fl Five' '6' '5' '4'
 'Floor 4' 'floor four' 'Four Story' 'Four' 'Floor Fifth' 'five Floor'
 ' Has Five fl' '8' '9' '7' 'Has Five fl']
old_building [  1.   3.   7.  18.  22.  nan  33.  40.  27.  68.  25.  15.  20.  28.
  35.  10.   4.   8.   5.  12.  32.  45.  13.  50.   6.  36.  70.  30.
  14.  75.  90.  34.  24.   2.   9.  16.  29. 999.  67.  60.  26.  38.
   0.  17.  37.  19.  80.  21.  11.  55.  44.  39.  23.  65.  48.  85.
  52.  31. 100.  57.  42.  41.  62. 120.  64.  43.  49.  47.  46.  88.
  82.  87.  69. 105.  99.  54. 140.  51.  72.  95.  63. 150. 176.  59.
  81.  58.  61.  53.  56.  84. 110.  66.  74.  98.  86. 109. 111. 200.
  73. 103.  79. 112.  78.  97.  92. 160.  71. 180.  76.  91.  96. 101.
 166. 106. 118. 108.  83.  77. 145. 130. 117.  93. 102. 135. 104. 170.
 131. 115.  89. 125. 128. 119.  94. 190. 174. 126. 132. 113. 116. 144.
 162. 138. 195. 141. 122. 175. 161. 196. 107. 121. 151. 142. 177. 124.
 127. 134. 178. 133. 123. 172. 168.]
plinth_area (ft^2) ['256 ft^2' '985 ft^2' nan '185 ft^2' '290 ft^2' '504 ft^2' '616 ft^2'
 '600 ft^2' '500 ft^2' 'More than 1000 ft^2' '366 ft^2' '150 ft^2'
 '300 ft^2' '352 ft^2' '358 ft^2' '250 ft^2' '360 ft^2' '550 ft^2'
 '310 ft^2' '400 ft^2' '735 ft^2' '464 ft^2' '380 ft^2' '342 ft^2'
 '384 ft^2' '432 ft^2' '375 ft^2' '490 ft^2' '780 ft^2' '494 ft^2'
 '278 ft^2' '228 ft^2' '475 ft^2' '440 ft^2' '280 ft^2' '288 ft^2'
 '368 ft^2' '312 ft^2' '450 ft^2' '383 ft^2' '425 ft^2' '968 ft^2'
 '200 ft^2' '140 ft^2' '410 ft^2' '264 ft^2' '194 ft^2' '230 ft^2'
 '438 ft^2' '405 ft^2' '130 ft^2' '297 ft^2' '525 ft^2' '392 ft^2'
 '176 ft^2' '420 ft^2' '242 ft^2' '286 ft^2' '364 ft^2' '210 ft^2'
 '445 ft^2' '495 ft^2' '240 ft^2' '340 ft^2' '660 ft^2' '396 ft^2'
 '233 ft^2' '260 ft^2' '289 ft^2' '508 ft^2' '299 ft^2' '320 ft^2'
 '648 ft^2' '222 ft^2' '301 ft^2' '265 ft^2' '270 ft^2' '544 ft^2'
 '220 ft^2' '153 ft^2' '700 ft^2' '350 ft^2' '285 ft^2' '351 ft^2'
 '174 ft^2' '800 ft^2' '315 ft^2' '318 ft^2' '173 ft^2' '478 ft^2'
 '465 ft^2' '324 ft^2' '338 ft^2' '462 ft^2' '356 ft^2' '483 ft^2'
 '496 ft^2' '325 ft^2' '253 ft^2' '155 ft^2' '246 ft^2' '190 ft^2'
 '435 ft^2' '820 ft^2' '225 ft^2' '216 ft^2' '272 ft^2' '385 ft^2'
 '180 ft^2' '810 ft^2' '382 ft^2' '620 ft^2' '363 ft^2' '590 ft^2'
 '160 ft^2' '434 ft^2' '357 ft^2' '531 ft^2' '152 ft^2' '430 ft^2'
 '245 ft^2' '263 ft^2' '416 ft^2' '567 ft^2' '594 ft^2' '204 ft^2'
 '576 ft^2' '486 ft^2' '309 ft^2' '378 ft^2' '284 ft^2' '562 ft^2'
 '177 ft^2' '255 ft^2' '545 ft^2' '305 ft^2' '390 ft^2' '171 ft^2'
 '456 ft^2' '588 ft^2' '100 ft^2' '348 ft^2' '231 ft^2' '850 ft^2'
 '729 ft^2' '510 ft^2' '125 ft^2' '460 ft^2' '437 ft^2' '409 ft^2'
 '247 ft^2' '361 ft^2' '170 ft^2' '214 ft^2' '609 ft^2' '322 ft^2'
 '275 ft^2' '960 ft^2' '916 ft^2' '387 ft^2' '96 ft^2' '900 ft^2'
 '303 ft^2' '520 ft^2' '1000 ft^2' '528 ft^2' '487 ft^2' '999 ft^2'
 '344 ft^2' '540 ft^2' '295 ft^2' '252 ft^2' '725 ft^2' '336 ft^2'
 '165 ft^2' '472 ft^2' '862 ft^2' '734 ft^2' '750 ft^2' '412 ft^2'
 '448 ft^2' '205 ft^2' '308 ft^2' '990 ft^2' '332 ft^2' '408 ft^2'
 '182 ft^2' '676 ft^2' '446 ft^2' '330 ft^2' '580 ft^2' '555 ft^2'
 '304 ft^2' '650 ft^2' '816 ft^2' '370 ft^2' '485 ft^2' '86 ft^2'
 '918 ft^2' '665 ft^2' '337 ft^2' '391 ft^2' '442 ft^2' '452 ft^2'
 '640 ft^2' '266 ft^2' '720 ft^2' '418 ft^2' '961 ft^2' '120 ft^2'
 '198 ft^2' '283 ft^2' '144 ft^2' '468 ft^2' '551 ft^2' '613 ft^2'
 '860 ft^2' '279 ft^2' '208 ft^2' '321 ft^2' '238 ft^2' '547 ft^2'
 '674 ft^2' '234 ft^2' '480 ft^2' '202 ft^2' '424 ft^2' '196 ft^2'
 '281 ft^2' '257 ft^2' '526 ft^2' '345 ft^2' '708 ft^2' '532 ft^2'
 '793 ft^2' '506 ft^2' '388 ft^2' '745 ft^2' '223 ft^2' '455 ft^2'
 '570 ft^2' '598 ft^2' '509 ft^2' '629 ft^2' '323 ft^2' '459 ft^2'
 '578 ft^2' '702 ft^2' '188 ft^2' '365 ft^2' '957 ft^2' '413 ft^2'
 '215 ft^2' '217 ft^2' '684 ft^2' '110 ft^2' '756 ft^2' '254 ft^2'
 '924 ft^2' '339 ft^2' '911 ft^2' '376 ft^2' '294 ft^2' '224 ft^2'
 '287 ft^2' '577 ft^2' '612 ft^2' '232 ft^2' '530 ft^2' '386 ft^2'
 '492 ft^2' '404 ft^2' '414 ft^2' '507 ft^2' '513 ft^2' '244 ft^2'
 '680 ft^2' '792 ft^2' '362 ft^2' '249 ft^2' '840 ft^2' '355 ft^2'
 '770 ft^2' '296 ft^2' '273 ft^2' '512 ft^2' '343 ft^2' '896 ft^2'
 '493 ft^2' '81 ft^2' '235 ft^2' '945 ft^2' '298 ft^2' '282 ft^2'
 '476 ft^2' '218 ft^2' '203 ft^2' '560 ft^2' '651 ft^2' '276 ft^2'
 '394 ft^2' '374 ft^2' '123 ft^2' '630 ft^2' '379 ft^2' '685 ft^2'
 '585 ft^2' '607 ft^2' '306 ft^2' '754 ft^2' '175 ft^2' '805 ft^2'
 '326 ft^2' '398 ft^2' '406 ft^2' '189 ft^2' '426 ft^2' '316 ft^2'
 '302 ft^2' '167 ft^2' '341 ft^2' '714 ft^2' '989 ft^2' '261 ft^2'
 '675 ft^2' '882 ft^2' '441 ft^2' '347 ft^2' '377 ft^2' '952 ft^2'
 '199 ft^2' '453 ft^2' '415 ft^2' '537 ft^2' '581 ft^2' '346 ft^2'
 '644 ft^2' '912 ft^2' '722 ft^2' '207 ft^2' '395 ft^2' '522 ft^2'
 '135 ft^2' '621 ft^2' '572 ft^2' '614 ft^2' '129 ft^2' '90 ft^2'
 '536 ft^2' '128 ft^2' '132 ft^2' '421 ft^2' '755 ft^2' '429 ft^2'
 '646 ft^2' '973 ft^2' '690 ft^2' '656 ft^2' '419 ft^2' '950 ft^2'
 '335 ft^2' '99 ft^2' '891 ft^2' '389 ft^2' '704 ft^2' '552 ft^2'
 '897 ft^2' '427 ft^2' '80 ft^2' '268 ft^2' '693 ft^2' '739 ft^2'
 '561 ft^2' '354 ft^2' '615 ft^2' '311 ft^2' '681 ft^2' '371 ft^2'
 '436 ft^2' '602 ft^2' '584 ft^2' '124 ft^2' '457 ft^2' '241 ft^2'
 '794 ft^2' '748 ft^2' '524 ft^2' '147 ft^2' '741 ft^2' '226 ft^2'
 '484 ft^2' '195 ft^2' '940 ft^2' '686 ft^2' '138 ft^2' '538 ft^2'
 '527 ft^2' '855 ft^2' '870 ft^2' '604 ft^2' '84 ft^2' '444 ft^2'
 '518 ft^2' '156 ft^2' '832 ft^2' '556 ft^2' '497 ft^2' '458 ft^2'
 '658 ft^2' '682 ft^2' '812 ft^2' '825 ft^2' '433 ft^2' '529 ft^2'
 '608 ft^2' '610 ft^2' '864 ft^2' '470 ft^2' '647 ft^2' '399 ft^2'
 '501 ft^2' '546 ft^2' '573 ft^2' '221 ft^2' '466 ft^2' '742 ft^2'
 '403 ft^2' '401 ft^2' '463 ft^2' '553 ft^2' '454 ft^2' '292 ft^2'
 '649 ft^2' '314 ft^2' '237 ft^2' '920 ft^2' '179 ft^2' '625 ft^2'
 '575 ft^2' '521 ft^2' '571 ft^2' '936 ft^2' '776 ft^2' '411 ft^2'
 '788 ft^2' '759 ft^2' '145 ft^2' '193 ft^2' '148 ft^2' '277 ft^2'
 '778 ft^2' '209 ft^2' '801 ft^2' '821 ft^2' '201 ft^2' '327 ft^2'
 '293 ft^2' '192 ft^2' '558 ft^2' '168 ft^2' '696 ft^2' '307 ft^2'
 '236 ft^2' '248 ft^2' '517 ft^2' '851 ft^2' '962 ft^2' '91 ft^2'
 '533 ft^2' '407 ft^2' '267 ft^2' '715 ft^2' '85 ft^2' '369 ft^2'
 '154 ft^2' '790 ft^2' '259 ft^2' '654 ft^2' '710 ft^2' '774 ft^2'
 '505 ft^2' '652 ft^2' '229 ft^2' '779 ft^2' '515 ft^2' '638 ft^2'
 '738 ft^2' '187 ft^2' '251 ft^2' '728 ft^2' '712 ft^2' '830 ft^2'
 '760 ft^2' '634 ft^2' '417 ft^2' '184 ft^2' '393 ft^2' '623 ft^2'
 '111 ft^2' '736 ft^2' '740 ft^2' '861 ft^2' '105 ft^2' '212 ft^2'
 '514 ft^2' '467 ft^2' '108 ft^2' '328 ft^2' '474 ft^2' '784 ft^2'
 '713 ft^2' '258 ft^2' '592 ft^2' '431 ft^2' '469 ft^2' '798 ft^2'
 '930 ft^2' '672 ft^2' '841 ft^2' '819 ft^2' '668 ft^2' '975 ft^2'
 '75 ft^2' '372 ft^2' '856 ft^2' '589 ft^2' '535 ft^2' '669 ft^2'
 '925 ft^2' '718 ft^2' '730 ft^2' '213 ft^2' '477 ft^2' '777 ft^2'
 '586 ft^2' '595 ft^2' '449 ft^2' '659 ft^2' '596 ft^2' '559 ft^2'
 '349 ft^2' '803 ft^2' '162 ft^2' '606 ft^2' '117 ft^2' '134 ft^2'
 '479 ft^2' '269 ft^2' '753 ft^2' '761 ft^2' '534 ft^2' '980 ft^2'
 '837 ft^2' '72 ft^2' '619 ft^2' '931 ft^2' '817 ft^2' '929 ft^2'
 '109 ft^2' '516 ft^2' '146 ft^2' '645 ft^2' '565 ft^2' '618 ft^2'
 '689 ft^2' '422 ft^2' '752 ft^2' '481 ft^2' '744 ft^2' '978 ft^2'
 '836 ft^2' '227 ft^2' '121 ft^2' '313 ft^2' '956 ft^2' '726 ft^2'
 '211 ft^2' '423 ft^2' '661 ft^2' '628 ft^2' '875 ft^2' '627 ft^2'
 '914 ft^2' '898 ft^2' '317 ft^2' '353 ft^2' '663 ft^2' '603 ft^2'
 '239 ft^2' '845 ft^2' '874 ft^2' '789 ft^2' '262 ft^2' '574 ft^2'
 '564 ft^2' '662 ft^2' '186 ft^2' '334 ft^2' '502 ft^2' '402 ft^2'
 '605 ft^2' '922 ft^2' '786 ft^2' '428 ft^2' '783 ft^2' '583 ft^2'
 '291 ft^2' '181 ft^2' '367 ft^2' '149 ft^2' '169 ft^2' '164 ft^2'
 '243 ft^2' '333 ft^2' '910 ft^2' '955 ft^2' '554 ft^2' '826 ft^2'
 '986 ft^2' '511 ft^2' '814 ft^2' '624 ft^2' '115 ft^2' '548 ft^2'
 '114 ft^2' '397 ft^2' '381 ft^2' '764 ft^2' '488 ft^2' '703 ft^2'
 '972 ft^2' '473 ft^2' '151 ft^2' '666 ft^2' '593 ft^2' '587 ft^2'
 '206 ft^2' '373 ft^2' '643 ft^2' '451 ft^2' '639 ft^2' '329 ft^2'
 '867 ft^2' '765 ft^2' '166 ft^2' '142 ft^2' '653 ft^2' '489 ft^2'
 '822 ft^2' '954 ft^2' '158 ft^2' '758 ft^2' '679 ft^2' '626 ft^2'
 '905 ft^2' '163 ft^2' '670 ft^2' '331 ft^2' '503 ft^2' '219 ft^2'
 '88 ft^2' '694 ft^2' '677 ft^2' '482 ft^2' '319 ft^2' '688 ft^2'
 '443 ft^2' '274 ft^2' '178 ft^2' '447 ft^2' '890 ft^2' '933 ft^2'
 '116 ft^2' '948 ft^2' '737 ft^2' '823 ft^2' '70 ft^2' '782 ft^2'
 '126 ft^2' '667 ft^2' '579 ft^2' '880 ft^2' '888 ft^2' '642 ft^2'
 '141 ft^2' '747 ft^2' '523 ft^2' '633 ft^2' '566 ft^2' '943 ft^2'
 '839 ft^2' '563 ft^2' '542 ft^2' '568 ft^2' '853 ft^2' '687 ft^2'
 '983 ft^2' '549 ft^2' '617 ft^2' '865 ft^2' '732 ft^2' '119 ft^2'
 '557 ft^2' '95 ft^2' '582 ft^2' '499 ft^2' '876 ft^2' '697 ft^2'
 '271 ft^2' '136 ft^2' '498 ft^2' '749 ft^2' '928 ft^2' '143 ft^2'
 '664 ft^2' '899 ft^2' '94 ft^2' '102 ft^2' '804 ft^2' '611 ft^2'
 '969 ft^2' '439 ft^2' '813 ft^2' '159 ft^2' '706 ft^2' '893 ft^2'
 '843 ft^2' '104 ft^2' '946 ft^2' '724 ft^2' '988 ft^2' '884 ft^2'
 '913 ft^2' '970 ft^2' '691 ft^2' '775 ft^2' '543 ft^2' '183 ft^2'
 '122 ft^2' '883 ft^2' '107 ft^2' '992 ft^2' '886 ft^2' '597 ft^2'
 '541 ft^2' '834 ft^2' '868 ft^2' '359 ft^2' '854 ft^2' '701 ft^2'
 '903 ft^2' '636 ft^2' '949 ft^2' '157 ft^2' '112 ft^2' '631 ft^2'
 '197 ft^2' '601 ft^2' '635 ft^2' '858 ft^2' '569 ft^2' '768 ft^2'
 '491 ft^2' '657 ft^2' '902 ft^2' '127 ft^2' '695 ft^2' '622 ft^2'
 '139 ft^2' '705 ft^2' '137 ft^2' '915 ft^2' '806 ft^2' '92 ft^2'
 '995 ft^2' '829 ft^2' '878 ft^2' '879 ft^2' '77 ft^2' '833 ft^2'
 '698 ft^2' '942 ft^2' '796 ft^2' '751 ft^2' '716 ft^2' '892 ft^2'
 '787 ft^2' '844 ft^2' '637 ft^2' '599 ft^2' '118 ft^2' '641 ft^2'
 '979 ft^2' '919 ft^2' '998 ft^2' '763 ft^2' '852 ft^2' '842 ft^2'
 '781 ft^2' '74 ft^2' '938 ft^2' '711 ft^2' '673 ft^2' '591 ft^2'
 '785 ft^2' '944 ft^2' '795 ft^2' '683 ft^2' '815 ft^2' '846 ft^2'
 '827 ft^2' '632 ft^2' '172 ft^2' '904 ft^2' '807 ft^2' '692 ft^2'
 '731 ft^2' '965 ft^2' '908 ft^2' '113 ft^2' '471 ft^2' '921 ft^2'
 '866 ft^2' '953 ft^2' '877 ft^2' '191 ft^2' '831 ft^2' '519 ft^2'
 '894 ft^2' '889 ft^2' '771 ft^2' '461 ft^2' '733 ft^2' '161 ft^2'
 '828 ft^2' '93 ft^2' '709 ft^2' '717 ft^2' '743 ft^2' '727 ft^2'
 '103 ft^2' '981 ft^2' '984 ft^2' '73 ft^2' '799 ft^2' '963 ft^2'
 '757 ft^2' '895 ft^2' '678 ft^2' '723 ft^2' '993 ft^2' '991 ft^2'
 '885 ft^2' '655 ft^2' '849 ft^2' '994 ft^2' '106 ft^2' '101 ft^2'
 '791 ft^2' '987 ft^2' '772 ft^2' '824 ft^2' '769 ft^2' '809 ft^2'
 '811 ft^2' '82 ft^2' '996 ft^2' '906 ft^2' '746 ft^2' '974 ft^2'
 '966 ft^2' '947 ft^2' '721 ft^2' '909 ft^2' '881 ft^2' '982 ft^2'
 '133 ft^2' '932 ft^2' '773 ft^2' '98 ft^2' '939 ft^2' '87 ft^2'
 '539 ft^2' '937 ft^2' '699 ft^2' '887 ft^2' '869 ft^2' '818 ft^2'
 '848 ft^2' '941 ft^2' '857 ft^2' '808 ft^2' '78 ft^2' '835 ft^2'
 '964 ft^2' '131 ft^2' '762 ft^2' '923 ft^2' '766 ft^2' '934 ft^2'
 '901 ft^2' '872 ft^2' '935 ft^2' '859 ft^2' '958 ft^2' '719 ft^2'
 '917 ft^2' '927 ft^2' '873 ft^2' '671 ft^2' '976 ft^2' '767 ft^2'
 '79 ft^2' '707 ft^2' '838 ft^2' '871 ft^2' '847 ft^2' '971 ft^2'
 '959 ft^2' '71 ft^2' '926 ft^2' '802 ft^2' '967 ft^2' '907 ft^2'
 '97 ft^2' '951 ft^2' '863 ft^2' '997 ft^2' '797 ft^2' '89 ft^2' '76 ft^2']
height_before_eq (ft) [22. 18. 14. 15. 17. nan 16.  9. 45. 19. 10. 12. 20. 21. 25.  6. 24.  7.
 13.  8. 11. 30. 23. 27. 36. 26. 40. 56. 32. 28. 29. 35. 38. 31. 74. 34.
 50. 65. 99. 33. 60. 48. 75. 51. 54. 46. 44. 47. 70. 55. 80. 61. 37. 93.
 52. 77. 96. 72. 81. 42. 64. 85. 39. 57. 63. 95. 67. 43. 78. 49. 41. 58.
 68. 76. 90. 66. 71. 89.]
land_surface_condition ['Flat' nan 'Moderate slope' 'Steep slope']
type_of_foundation ['Bamboo or Timber' 'Clay Sand Mixed mortar-Stone/Brick'
 'Mud mortar-Stone/Brick' nan 'Clay mortar-Stone/Brick'
 'Reinforced Concrete' 'Cement-Stone or Cement-Brick' 'Bamboo/TImber'
 'Bamboo/Timber' 'RC' 'Others' 'Cement-Stone/Brick' 'Other']
type_of_roof ['Bamboo/Timber Light roof' 'Wood Light Roof or Bamboo Heavy Roof' nan
 'Wood Light Roof or Bamboo Light Roof' 'Bamboo or Timber Light roof'
 'Bamboo/TImber-Light Roof' 'Reinforced Brick Slab/rcc/rbc'
 'Bamboo/Timber Heavy roof' 'reinforced cement concrete/rb/rbc'
 'Bamboo or Timber Heavy roof' 'Bamboo/TImber-Heavy Roof' 'rcc/rb/rbc'
 'Reinforced brick concrete/rcc/rbc']
type_of_ground_floor ['Clay' nan 'Mud' 'Brick or Stone' 'Reinforced Concrete' 'mud'
 'reinforced concrete' 'RC' 'soil, water, loam Mixed' 'brick/stone'
 'Other' 'Lumber' 'Brick/Stone' 'TImber' 'Timber' 'Wood']
type_of_other_floor ['TImber/Bamboo-Mud' 'Wood-Mud or Bamboo Mud' 'Timber Mud or Bamboo-Mud'
 nan 'Not applicable' 'Wood or Bamboo Mud' 'rcc/rb/rbc' 'Wood-Plank'
 'Timber-Planck' 'Lumber-plank' 'Reinforced brick concrete/rcc/rbc'
 'reinforced cement concrete/rb/rbc']
position ['Not attached' nan 'Attached-1 side' 'Attached-2 side' 'Attached-3 side']
building_plan_configuration ['Rectangular' 'Square' nan 'L-shape' 'T-shape' 'Multi-projected'
 'U-shape' 'Others' 'E-shape' 'Building with Central Courtyard' 'H-shape']
technical_solution_proposed [nan 'Reconstruction' 'Major repair' 'No need' 'Minor repair']
legal_ownership_status ['Private Use' 'Private' nan 'Prvt' 'Public Space' 'Privste' 'Public'
 'Unknown' 'Public Use' 'Institutionals' 'Unspecified' 'Institutional Use'
 'Other' 'Institutional']
has_secondary_use [ 0. nan  1.]
type_of_reinforcement_concrete [ 0. nan  2.  1.  3.]
residential_type ['Non-residential' nan 'Hotel/Motel' 'Rental Residential' 'Housing'
 'Other' 'Other Residential Type']
no_family_residing ['1.0' nan 'None' '2.0' '3.0' '4.0' '7.0' '5.0' '6.0' '9.0' '8.0' '11.0']
public_place_type ['Non-public' 'Religious Sites' 'Other Institutional Building' 'Drugstore'
 'Health Clinics' 'Shopping Sites' 'Hospital' 'High School' 'University'
 'Middle School' 'Primary School' 'Recreational Park' 'Museum']
industrial_use_type ['Non-industrial' nan 'Metallurgy' 'Service/Tourism' 'Food'
 'Manufacturing' 'Infrastructure' 'Agro' 'Farm' 'Forest-based']
govermental_use_type ['Non-govermental' nan 'Police Offices' 'Govermental Buildings']
flexible_superstructure ['unavailable' 'available' nan]
wall_binding [ 0.  5. nan  2.  1.  7.  3.]
wall_material [ 0.  2. nan  1.  3.]
damage_grade [1. 5. 4. 2. 3.]

Train data shape:  (722815, 25)

In [23]:
# Print all unique values in each column
for col in test_data.columns:
    print(col, test_data[col].unique())

print("\nTest data shape: ", test_data.shape)

id [     0      1      2 ... 242079 242080 242081]
floors_before_eq (total) ['2' '3.00' 'Floor-three' 'floor second' ' just 2 floor' 'Two Floor'
 ' has 3 Floor' 'There is 2 Floor/Story' 'two' 'Floor two' '2 floor'
 'Floor 1' 'three Story' 'two story' 'floor 1st' 'Floor 2' 'one story'
 'Three' 'floor one' 'five Floor' 'floor third' 'floor two' 'Floor 3' '1'
 'one' 'Three floor' 'Has 1 floor' 'Just 1 floor' '1st Story' 'Floor 4'
 'Four Story' 'Fl Five' ' has Four fl' '5' 'four Floor' 'Four' '6' '4'
 'floor four' ' Has Five fl' 'fifth' 'Fl four' 'Floor Fifth' '7' '9']
old_building [  7  13  40  25   5   6  10  17  31  18  44   2  15  16  12  30   3 999
  21   4  11   9  22  35  23  20  27   1   8  14  47  34  42  50 100  19
  32  33  64  28  60  45   0  29  70  26  38  41  39  54  24  37  80  43
  36  56  58  55  62 200  76  68  51  48  78  99  46  82  90  65 110 140
  52  75  63  57  85  83  81  61  53 114  71  95  72 102  94  69  74  73
  49 120 123  66  59 150 125  86  67 103  79 115  84  77 112 105 116  92
  88 122 130 104  96 109  89  97 111  87 107  98  91 148 160 180 113 108
 156 141 155 133 170 118 135 175 172 178 152 190 101 151 149  93 117 195]
plinth_area (ft^2) ['418 ft^2' '396 ft^2' '400 ft^2' '378 ft^2' '375 ft^2' '534 ft^2'
 '416 ft^2' '558 ft^2' '255 ft^2' '300 ft^2' '216 ft^2' '342 ft^2'
 '457 ft^2' '350 ft^2' '240 ft^2' '310 ft^2' '450 ft^2' '672 ft^2'
 '260 ft^2' '308 ft^2' 'More than 1000 ft^2' '270 ft^2' '162 ft^2'
 '150 ft^2' '891 ft^2' '648 ft^2' '180 ft^2' '420 ft^2' '200 ft^2'
 '275 ft^2' '392 ft^2' '695 ft^2' '315 ft^2' '900 ft^2' '720 ft^2'
 '430 ft^2' '228 ft^2' '500 ft^2' '476 ft^2' '176 ft^2' '261 ft^2'
 '330 ft^2' '540 ft^2' '590 ft^2' '155 ft^2' '313 ft^2' '225 ft^2'
 '547 ft^2' '530 ft^2' '360 ft^2' '169 ft^2' '252 ft^2' '301 ft^2'
 '286 ft^2' '550 ft^2' '190 ft^2' '932 ft^2' '485 ft^2' '600 ft^2'
 '299 ft^2' '410 ft^2' '441 ft^2' '445 ft^2' '280 ft^2' '395 ft^2'
 '759 ft^2' '273 ft^2' '250 ft^2' '501 ft^2' '220 ft^2' '652 ft^2'
 '364 ft^2' '864 ft^2' '425 ft^2' '494 ft^2' '243 ft^2' '665 ft^2'
 '598 ft^2' '650 ft^2' '153 ft^2' '197 ft^2' '470 ft^2' '78 ft^2'
 '145 ft^2' '265 ft^2' '519 ft^2' '405 ft^2' '305 ft^2' '239 ft^2'
 '384 ft^2' '513 ft^2' '440 ft^2' '338 ft^2' '340 ft^2' '432 ft^2'
 '750 ft^2' '422 ft^2' '276 ft^2' '589 ft^2' '130 ft^2' '264 ft^2'
 '700 ft^2' '560 ft^2' '966 ft^2' '660 ft^2' '312 ft^2' '380 ft^2'
 '502 ft^2' '836 ft^2' '258 ft^2' '754 ft^2' '336 ft^2' '204 ft^2'
 '345 ft^2' '390 ft^2' '434 ft^2' '326 ft^2' '343 ft^2' '480 ft^2'
 '285 ft^2' '685 ft^2' '115 ft^2' '391 ft^2' '320 ft^2' '437 ft^2'
 '290 ft^2' '640 ft^2' '486 ft^2' '324 ft^2' '230 ft^2' '325 ft^2'
 '268 ft^2' '192 ft^2' '462 ft^2' '298 ft^2' '625 ft^2' '806 ft^2'
 '349 ft^2' '226 ft^2' '263 ft^2' '304 ft^2' '775 ft^2' '576 ft^2'
 '238 ft^2' '800 ft^2' '371 ft^2' '475 ft^2' '402 ft^2' '411 ft^2'
 '123 ft^2' '372 ft^2' '820 ft^2' '676 ft^2' '696 ft^2' '504 ft^2'
 '406 ft^2' '925 ft^2' '570 ft^2' '202 ft^2' '423 ft^2' '612 ft^2'
 '839 ft^2' '303 ft^2' '484 ft^2' '253 ft^2' '246 ft^2' '460 ft^2'
 '415 ft^2' '100 ft^2' '365 ft^2' '610 ft^2' '398 ft^2' '725 ft^2'
 '442 ft^2' '651 ft^2' '527 ft^2' '248 ft^2' '382 ft^2' '208 ft^2'
 '459 ft^2' '143 ft^2' '581 ft^2' '798 ft^2' '408 ft^2' '376 ft^2'
 '288 ft^2' '210 ft^2' '185 ft^2' '196 ft^2' '214 ft^2' '544 ft^2'
 '912 ft^2' '354 ft^2' '446 ft^2' '160 ft^2' '654 ft^2' '510 ft^2'
 '850 ft^2' '526 ft^2' '346 ft^2' '448 ft^2' '394 ft^2' '245 ft^2'
 '703 ft^2' '525 ft^2' '111 ft^2' '592 ft^2' '575 ft^2' '272 ft^2'
 '170 ft^2' '370 ft^2' '321 ft^2' '428 ft^2' '368 ft^2' '198 ft^2'
 '722 ft^2' '630 ft^2' '283 ft^2' '704 ft^2' '223 ft^2' '616 ft^2'
 '493 ft^2' '352 ft^2' '903 ft^2' '458 ft^2' '351 ft^2' '166 ft^2'
 '454 ft^2' '680 ft^2' '978 ft^2' '98 ft^2' '537 ft^2' '551 ft^2'
 '741 ft^2' '580 ft^2' '247 ft^2' '412 ft^2' '295 ft^2' '684 ft^2'
 '302 ft^2' '385 ft^2' '234 ft^2' '675 ft^2' '140 ft^2' '294 ft^2'
 '377 ft^2' '141 ft^2' '536 ft^2' '635 ft^2' '520 ft^2' '535 ft^2'
 '505 ft^2' '960 ft^2' '739 ft^2' '344 ft^2' '451 ft^2' '512 ft^2'
 '980 ft^2' '205 ft^2' '296 ft^2' '209 ft^2' '366 ft^2' '357 ft^2'
 '521 ft^2' '348 ft^2' '531 ft^2' '1000 ft^2' '175 ft^2' '203 ft^2'
 '522 ft^2' '136 ft^2' '329 ft^2' '682 ft^2' '274 ft^2' '221 ft^2'
 '306 ft^2' '620 ft^2' '388 ft^2' '888 ft^2' '284 ft^2' '414 ft^2'
 '468 ft^2' '374 ft^2' '404 ft^2' '737 ft^2' '464 ft^2' '110 ft^2'
 '756 ft^2' '322 ft^2' '786 ft^2' '269 ft^2' '515 ft^2' '211 ft^2'
 '426 ft^2' '455 ft^2' '714 ft^2' '254 ft^2' '80 ft^2' '323 ft^2'
 '222 ft^2' '495 ft^2' '594 ft^2' '241 ft^2' '496 ft^2' '857 ft^2'
 '90 ft^2' '443 ft^2' '709 ft^2' '546 ft^2' '333 ft^2' '215 ft^2'
 '444 ft^2' '282 ft^2' '421 ft^2' '474 ft^2' '713 ft^2' '490 ft^2'
 '267 ft^2' '362 ft^2' '289 ft^2' '636 ft^2' '419 ft^2' '201 ft^2'
 '561 ft^2' '770 ft^2' '856 ft^2' '142 ft^2' '399 ft^2' '624 ft^2'
 '565 ft^2' '409 ft^2' '545 ft^2' '165 ft^2' '287 ft^2' '950 ft^2'
 '435 ft^2' '465 ft^2' '529 ft^2' '195 ft^2' '752 ft^2' '608 ft^2'
 '174 ft^2' '361 ft^2' '702 ft^2' '355 ft^2' '828 ft^2' '337 ft^2'
 '586 ft^2' '483 ft^2' '940 ft^2' '688 ft^2' '81 ft^2' '127 ft^2'
 '158 ft^2' '429 ft^2' '413 ft^2' '693 ft^2' '896 ft^2' '572 ft^2'
 '307 ft^2' '244 ft^2' '314 ft^2' '316 ft^2' '181 ft^2' '882 ft^2'
 '567 ft^2' '653 ft^2' '120 ft^2' '256 ft^2' '309 ft^2' '318 ft^2'
 '968 ft^2' '910 ft^2' '477 ft^2' '224 ft^2' '492 ft^2' '568 ft^2'
 '259 ft^2' '735 ft^2' '154 ft^2' '242 ft^2' '207 ft^2' '667 ft^2'
 '393 ft^2' '135 ft^2' '868 ft^2' '75 ft^2' '658 ft^2' '508 ft^2'
 '347 ft^2' '542 ft^2' '578 ft^2' '173 ft^2' '389 ft^2' '532 ft^2'
 '96 ft^2' '729 ft^2' '156 ft^2' '292 ft^2' '383 ft^2' '163 ft^2'
 '518 ft^2' '880 ft^2' '403 ft^2' '554 ft^2' '548 ft^2' '381 ft^2'
 '588 ft^2' '810 ft^2' '427 ft^2' '456 ft^2' '890 ft^2' '367 ft^2'
 '262 ft^2' '358 ft^2' '990 ft^2' '453 ft^2' '760 ft^2' '609 ft^2'
 '860 ft^2' '356 ft^2' '585 ft^2' '556 ft^2' '690 ft^2' '711 ft^2'
 '516 ft^2' '855 ft^2' '235 ft^2' '187 ft^2' '712 ft^2' '999 ft^2'
 '472 ft^2' '744 ft^2' '902 ft^2' '765 ft^2' '95 ft^2' '479 ft^2'
 '125 ft^2' '293 ft^2' '386 ft^2' '948 ft^2' '851 ft^2' '721 ft^2'
 '281 ft^2' '482 ft^2' '784 ft^2' '992 ft^2' '233 ft^2' '452 ft^2'
 '236 ft^2' '99 ft^2' '227 ft^2' '924 ft^2' '666 ft^2' '471 ft^2'
 '105 ft^2' '379 ft^2' '552 ft^2' '328 ft^2' '72 ft^2' '149 ft^2'
 '686 ft^2' '807 ft^2' '920 ft^2' '297 ft^2' '596 ft^2' '549 ft^2'
 '191 ft^2' '317 ft^2' '353 ft^2' '266 ft^2' '431 ft^2' '595 ft^2'
 '212 ft^2' '619 ft^2' '538 ft^2' '528 ft^2' '524 ft^2' '644 ft^2'
 '189 ft^2' '767 ft^2' '467 ft^2' '569 ft^2' '334 ft^2' '603 ft^2'
 '319 ft^2' '291 ft^2' '184 ft^2' '634 ft^2' '591 ft^2' '232 ft^2'
 '186 ft^2' '825 ft^2' '563 ft^2' '218 ft^2' '517 ft^2' '794 ft^2'
 '854 ft^2' '780 ft^2' '438 ft^2' '341 ft^2' '840 ft^2' '159 ft^2'
 '972 ft^2' '663 ft^2' '433 ft^2' '237 ft^2' '473 ft^2' '555 ft^2'
 '397 ft^2' '875 ft^2' '833 ft^2' '938 ft^2' '193 ft^2' '489 ft^2'
 '373 ft^2' '167 ft^2' '231 ft^2' '182 ft^2' '957 ft^2' '845 ft^2'
 '332 ft^2' '335 ft^2' '144 ft^2' '487 ft^2' '506 ft^2' '872 ft^2'
 '509 ft^2' '557 ft^2' '724 ft^2' '730 ft^2' '643 ft^2' '577 ft^2'
 '571 ft^2' '710 ft^2' '745 ft^2' '498 ft^2' '116 ft^2' '814 ft^2'
 '213 ft^2' '629 ft^2' '708 ft^2' '777 ft^2' '171 ft^2' '627 ft^2'
 '893 ft^2' '194 ft^2' '327 ft^2' '837 ft^2' '706 ft^2' '637 ft^2'
 '161 ft^2' '790 ft^2' '503 ft^2' '114 ft^2' '117 ft^2' '728 ft^2'
 '363 ft^2' '178 ft^2' '892 ft^2' '865 ft^2' '615 ft^2' '736 ft^2'
 '587 ft^2' '407 ft^2' '573 ft^2' '86 ft^2' '543 ft^2' '621 ft^2'
 '657 ft^2' '447 ft^2' '923 ft^2' '618 ft^2' '605 ft^2' '168 ft^2'
 '553 ft^2' '731 ft^2' '689 ft^2' '670 ft^2' '795 ft^2' '726 ft^2'
 '645 ft^2' '646 ft^2' '106 ft^2' '122 ft^2' '859 ft^2' '772 ft^2'
 '622 ft^2' '523 ft^2' '943 ft^2' '638 ft^2' '369 ft^2' '870 ft^2'
 '742 ft^2' '514 ft^2' '70 ft^2' '641 ft^2' '138 ft^2' '436 ft^2'
 '602 ft^2' '970 ft^2' '339 ft^2' '858 ft^2' '118 ft^2' '152 ft^2'
 '841 ft^2' '639 ft^2' '279 ft^2' '816 ft^2' '219 ft^2' '886 ft^2'
 '488 ft^2' '507 ft^2' '607 ft^2' '962 ft^2' '132 ft^2' '768 ft^2'
 '697 ft^2' '662 ft^2' '740 ft^2' '478 ft^2' '157 ft^2' '533 ft^2'
 '331 ft^2' '84 ft^2' '566 ft^2' '655 ft^2' '801 ft^2' '497 ft^2'
 '559 ft^2' '387 ft^2' '481 ft^2' '424 ft^2' '804 ft^2' '401 ft^2'
 '271 ft^2' '884 ft^2' '959 ft^2' '691 ft^2' '541 ft^2' '604 ft^2'
 '908 ft^2' '146 ft^2' '112 ft^2' '206 ft^2' '108 ft^2' '574 ft^2'
 '614 ft^2' '188 ft^2' '716 ft^2' '743 ft^2' '979 ft^2' '311 ft^2'
 '753 ft^2' '277 ft^2' '278 ft^2' '946 ft^2' '623 ft^2' '677 ft^2'
 '124 ft^2' '885 ft^2' '945 ft^2' '788 ft^2' '815 ft^2' '674 ft^2'
 '747 ft^2' '562 ft^2' '613 ft^2' '128 ft^2' '894 ft^2' '131 ft^2'
 '611 ft^2' '842 ft^2' '818 ft^2' '812 ft^2' '817 ft^2' '774 ft^2'
 '822 ft^2' '632 ft^2' '832 ft^2' '539 ft^2' '147 ft^2' '172 ft^2'
 '758 ft^2' '417 ft^2' '792 ft^2' '827 ft^2' '151 ft^2' '830 ft^2'
 '879 ft^2' '88 ft^2' '217 ft^2' '617 ft^2' '359 ft^2' '785 ft^2'
 '94 ft^2' '715 ft^2' '935 ft^2' '761 ft^2' '249 ft^2' '564 ft^2'
 '469 ft^2' '199 ft^2' '734 ft^2' '121 ft^2' '148 ft^2' '647 ft^2'
 '985 ft^2' '439 ft^2' '793 ft^2' '466 ft^2' '177 ft^2' '683 ft^2'
 '584 ft^2' '852 ft^2' '133 ft^2' '626 ft^2' '699 ft^2' '918 ft^2'
 '769 ft^2' '126 ft^2' '936 ft^2' '911 ft^2' '963 ft^2' '671 ft^2'
 '796 ft^2' '701 ft^2' '861 ft^2' '707 ft^2' '821 ft^2' '499 ft^2'
 '915 ft^2' '782 ft^2' '779 ft^2' '257 ft^2' '993 ft^2' '642 ft^2'
 '738 ft^2' '778 ft^2' '838 ft^2' '846 ft^2' '79 ft^2' '878 ft^2'
 '899 ft^2' '981 ft^2' '107 ft^2' '104 ft^2' '668 ft^2' '251 ft^2'
 '983 ft^2' '771 ft^2' '692 ft^2' '930 ft^2' '783 ft^2' '179 ft^2'
 '748 ft^2' '129 ft^2' '659 ft^2' '669 ft^2' '898 ft^2' '511 ft^2'
 '803 ft^2' '809 ft^2' '102 ft^2' '805 ft^2' '835 ft^2' '823 ft^2'
 '889 ft^2' '732 ft^2' '597 ft^2' '763 ft^2' '949 ft^2' '91 ft^2'
 '723 ft^2' '463 ft^2' '988 ft^2' '931 ft^2' '694 ft^2' '901 ft^2'
 '913 ft^2' '679 ft^2' '989 ft^2' '92 ft^2' '914 ft^2' '628 ft^2'
 '749 ft^2' '987 ft^2' '601 ft^2' '844 ft^2' '843 ft^2' '579 ft^2'
 '718 ft^2' '808 ft^2' '952 ft^2' '77 ft^2' '877 ft^2' '975 ft^2'
 '727 ft^2' '764 ft^2' '164 ft^2' '582 ft^2' '965 ft^2' '134 ft^2'
 '599 ft^2' '961 ft^2' '85 ft^2' '819 ft^2' '109 ft^2' '687 ft^2'
 '661 ft^2' '491 ft^2' '947 ft^2' '871 ft^2' '883 ft^2' '664 ft^2'
 '956 ft^2' '593 ft^2' '874 ft^2' '461 ft^2' '998 ft^2' '633 ft^2'
 '183 ft^2' '755 ft^2' '449 ft^2' '862 ft^2' '606 ft^2' '876 ft^2'
 '766 ft^2' '656 ft^2' '928 ft^2' '678 ft^2' '904 ft^2' '922 ft^2'
 '583 ft^2' '698 ft^2' '905 ft^2' '848 ft^2' '866 ft^2' '751 ft^2'
 '773 ft^2' '789 ft^2' '994 ft^2' '969 ft^2' '797 ft^2' '954 ft^2'
 '897 ft^2' '974 ft^2' '791 ft^2' '229 ft^2' '909 ft^2' '73 ft^2'
 '926 ft^2' '71 ft^2' '137 ft^2' '113 ft^2' '705 ft^2' '863 ft^2'
 '967 ft^2' '867 ft^2' '906 ft^2' '986 ft^2' '907 ft^2' '802 ft^2'
 '955 ft^2' '921 ft^2' '824 ft^2' '673 ft^2' '996 ft^2' '776 ft^2'
 '787 ft^2' '916 ft^2' '977 ft^2' '984 ft^2' '762 ft^2' '995 ft^2'
 '139 ft^2' '982 ft^2' '944 ft^2' '951 ft^2' '941 ft^2' '976 ft^2'
 '811 ft^2' '719 ft^2' '82 ft^2' '831 ft^2' '853 ft^2' '881 ft^2'
 '826 ft^2' '813 ft^2' '847 ft^2' '119 ft^2' '746 ft^2' '973 ft^2'
 '953 ft^2' '681 ft^2' '937 ft^2' '649 ft^2' '781 ft^2' '942 ft^2'
 '799 ft^2' '917 ft^2' '895 ft^2' '829 ft^2' '74 ft^2' '939 ft^2'
 '103 ft^2' '997 ft^2' '733 ft^2' '964 ft^2' '631 ft^2' '991 ft^2'
 '887 ft^2' '834 ft^2' '717 ft^2' '927 ft^2' '958 ft^2' '89 ft^2'
 '869 ft^2' '93 ft^2' '97 ft^2' '933 ft^2' '87 ft^2' '929 ft^2' '873 ft^2'
 '919 ft^2' '757 ft^2' '101 ft^2' '849 ft^2']
height_before_eq (ft) [14 21 18 20 15 16 22 12 17 10 30  9 26  8  6 24 19 45 42 23 25 13 27  7
 11 34 40 36 60 48 28 35 31 32 54 50 29 38 33 58 46 37 57 39 63 99 97 44
 56 47 95 52 76 67 70 78 41 55 75 59 66 71 96 43 51 65 85 72 74 49 77]
land_surface_condition ['Flat' 'Moderate slope' 'Steep slope']
type_of_foundation ['Clay mortar-Stone/Brick' 'Bamboo or Timber' 'Mud mortar-Stone/Brick'
 'Clay Sand Mixed mortar-Stone/Brick' 'Bamboo/TImber' 'RC'
 'Cement-Stone or Cement-Brick' 'Reinforced Concrete' 'Cement-Stone/Brick'
 'Bamboo/Timber' 'Other' 'Others']
type_of_roof ['Bamboo/TImber-Light Roof' 'Bamboo/TImber-Heavy Roof'
 'Bamboo/Timber Light roof' 'Bamboo/Timber Heavy roof'
 'Wood Light Roof or Bamboo Light Roof'
 'Wood Light Roof or Bamboo Heavy Roof' 'Bamboo or Timber Light roof'
 'reinforced cement concrete/rb/rbc' 'Reinforced Brick Slab/rcc/rbc'
 'rcc/rb/rbc' 'Bamboo or Timber Heavy roof'
 'Reinforced brick concrete/rcc/rbc']
type_of_ground_floor ['Clay' 'Brick or Stone' 'mud' 'RC' 'Mud' 'reinforced concrete'
 'Brick/Stone' 'Reinforced Concrete' 'soil, water, loam Mixed' 'Other'
 'Lumber' 'brick/stone' 'TImber' 'Wood' 'Timber']
type_of_other_floor ['TImber/Bamboo-Mud' 'Wood or Bamboo Mud' 'Wood-Mud or Bamboo Mud'
 'Timber Mud or Bamboo-Mud' 'Timber-Planck' 'Lumber-plank'
 'Not applicable' 'rcc/rb/rbc' 'Reinforced brick concrete/rcc/rbc'
 'Wood-Plank' 'reinforced cement concrete/rb/rbc']
position ['Not attached' 'Attached-2 side' 'Attached-1 side' 'Attached-3 side']
building_plan_configuration ['Rectangular' 'L-shape' 'T-shape' 'Square' 'Multi-projected' 'Others'
 'U-shape' 'E-shape' 'Building with Central Courtyard' 'H-shape']
technical_solution_proposed ['Reconstruction' 'Minor repair' 'No need' 'Major repair']
legal_ownership_status ['Private' 'Institutional Use' 'Privste' 'Private Use' 'Prvt' 'Public Use'
 'Public' 'Other' 'Public Space' 'Institutionals' 'Unspecified'
 'Institutional' 'Unknown']
has_secondary_use [0. 1.]
type_of_reinforcement_concrete [0 1 2 3]
residential_type ['Non-residential' 'Hotel/Motel' 'Housing' 'Rental Residential' 'Other'
 'Other Residential Type']
no_family_residing ['1.0' '3.0' 'None' '2.0' '4.0' '5.0' '6.0' '7.0' '8.0' '9.0']
public_place_type ['Non-public' 'High School' 'Middle School' 'Other Institutional Building'
 'Hospital' 'Shopping Sites' 'Drugstore' 'Religious Sites'
 'Primary School' 'Health Clinics' 'Museum' 'University'
 'Recreational Park']
industrial_use_type ['Non-industrial' 'Food' 'Infrastructure' 'Service/Tourism'
 'Manufacturing' 'Metallurgy' 'Forest-based' 'Farm' 'Agro']
govermental_use_type ['Non-govermental' 'Police Offices' 'Govermental Buildings']
flexible_superstructure ['unavailable' 'available']
wall_binding [5 0 2 1 7 3]
wall_material [2 0 1 3]

Test data shape:  (242082, 24)

## Data Preprocessing

In [24]:
train_data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [25]:
train_data.head(1).transpose()

                                                       0
floors_before_eq (total)                       floor two
old_building                                         1.0
plinth_area (ft^2)                              256 ft^2
height_before_eq (ft)                               22.0
land_surface_condition                              Flat
type_of_foundation                      Bamboo or Timber
type_of_roof                    Bamboo/Timber Light roof
type_of_ground_floor                                Clay
type_of_other_floor                    TImber/Bamboo-Mud
position                                    Not attached
building_plan_configuration                  Rectangular
technical_solution_proposed                          NaN
legal_ownership_status                       Private Use
has_secondary_use                                    0.0
type_of_reinforcement_concrete                       0.0
residential_type                         Non-residential
no_family_residing                                   1.0
public_place_type                             Non-public
industrial_use_type                       Non-industrial
govermental_use_type                     Non-govermental
flexible_superstructure                      unavailable
wall_binding                                         0.0
wall_material                                        0.0
damage_grade                                         1.0

### lower case and replace spaces

In [26]:
# remove the space in column names
train_data.columns = train_data.columns.str.replace(' ', '')
test_data.columns = test_data.columns.str.replace(' ', '')

In [27]:
string_columns = ['floors_before_eq(total)','land_surface_condition','type_of_foundation','type_of_roof','type_of_ground_floor',
                  'type_of_other_floor','position','building_plan_configuration' ,'technical_solution_proposed',
                  'legal_ownership_status','residential_type','public_place_type','industrial_use_type',
                  'govermental_use_type','flexible_superstructure']

In [28]:
# Make every values in every column to lowercase
def make_lower_case(column):
    column = str(column)
    return column.lower()

for col in string_columns:
    train_data[col] = train_data[col].apply(make_lower_case)

for col in string_columns:
    test_data[col] = test_data[col].apply(make_lower_case)

### floors column to be an integer

In [29]:
one_floors = ['one', '1']
two_floors = ['two', '2', 'second']
three_floors = ['three', '3', 'third']
four_floors = ['four', '4']
five_floors = ['five', '5', 'fifth']
six_floors = ['six', '6']
seven_floors = ['seven', '7']
eight_floors = ['eight', '8']
nine_floors = ['nine', '9']

def handle_floors_before_eq(total):
    if any(word in total for word in one_floors):
        return 1
    elif any(word in total for word in two_floors):
        return 2
    elif any(word in total for word in three_floors):
        return 3
    elif any(word in total for word in four_floors):
        return 4
    elif any(word in total for word in five_floors):
        return 5
    elif any(word in total for word in six_floors):
        return 6
    elif any(word in total for word in seven_floors):
        return 7
    elif any(word in total for word in eight_floors):
        return 8
    elif any(word in total for word in nine_floors):
        return 9
    else:
        return total

train_data['floors_before_eq(total)'] = train_data['floors_before_eq(total)'].apply(handle_floors_before_eq)
test_data['floors_before_eq(total)'] = test_data['floors_before_eq(total)'].apply(handle_floors_before_eq)

### 'plinth_area_sq_ft'

In [30]:
def handle_area(area):
    area = str(area)
    area = area.split(' ')[0]
    return area

train_data['plinth_area(ft^2)'] = train_data['plinth_area(ft^2)'].apply(handle_area)
test_data['plinth_area(ft^2)'] = test_data['plinth_area(ft^2)'].apply(handle_area)

### 'legal_ownership_status'

In [31]:
def make_eda_using_correlation_within_damagegrade(df, cols):
    correlate = pd.DataFrame(
    index=['1', '2','3','4','5'], 
    columns=df[cols].unique())

    for j  in df[cols].unique():
        try : 
            
            correlate.loc[correlate.index == '1', j]= \
                np.round(sum((df[cols]==j)&\
                            (df['damage_grade']==1))/sum(df[cols]==j) * 100, 3)
            
            correlate.loc[correlate.index == '2', j]= \
                np.round(sum((df[cols]==j)&\
                            (df['damage_grade']==2))/sum(df[cols]==j) * 100, 3)
            
            correlate.loc[correlate.index == '3', j]= \
                np.round(sum((df[cols]==j)&\
                            (df['damage_grade']==3))/sum(df[cols]==j) * 100, 3)
            
            correlate.loc[correlate.index == '4', j]= \
                np.round(sum((df[cols]==j)&\
                            (df['damage_grade']==4))/sum(df[cols]==j) * 100, 3)
            
            correlate.loc[correlate.index == '5', j]= \
                np.round(sum((df[cols]==j)&\
                            (df['damage_grade']==5))/sum(df[cols]==j) * 100, 3)
            
        except :
            pass
    return correlate

In [32]:
make_eda_using_correlation_within_damagegrade(train_data, 'legal_ownership_status')

,private use,private,nan,prvt,public space,privste,public,unknown,public use,institutionals,unspecified,institutional use,other,institutional
1,9.817,9.911,10.136,9.577,32.164,9.786,29.237,18.866,30.972,5.037,19.163,3.372,16.316,4.139
2,11.158,11.304,11.455,11.197,22.234,11.666,22.394,11.339,22.09,4.835,12.281,5.246,15.175,5.701
3,17.88,17.857,17.791,18.101,19.216,18.304,20.929,14.272,20.061,13.23,16.734,13.911,15.088,13.354
4,24.578,24.323,24.194,23.994,11.426,24.313,13.337,18.084,12.366,29.684,16.329,28.618,15.439,28.7
5,36.567,36.605,36.424,37.131,14.96,35.93,14.103,37.439,14.51,47.213,35.493,48.852,37.982,48.106

In [33]:
private_values = ['private use','private','prvt','privste']
public_values = ['public space','public','public use']
institutional_values = ['institutionals','institutional use','institutional']
others_values = ['other','unknown','unspecified']

def handle_legal_ownership_status(status):
    if status in private_values:
        return 'private'
    elif status in public_values:
        return 'public'
    elif status in institutional_values:
        return 'institutional'
    elif status in others_values:
        return 'other'
    else:
        return status

train_data['legal_ownership_status'] = train_data['legal_ownership_status'].apply(handle_legal_ownership_status)
test_data['legal_ownership_status'] = test_data['legal_ownership_status'].apply(handle_legal_ownership_status)

### 'type_of_foundation'

In [34]:
make_eda_using_correlation_within_damagegrade(train_data, 'type_of_foundation')

,bamboo or timber,clay sand mixed mortar-stone/brick,mud mortar-stone/brick,nan,clay mortar-stone/brick,reinforced concrete,cement-stone or cement-brick,bamboo/timber,rc,others,cement-stone/brick,other
1,30.518,4.734,4.78,10.285,4.642,58.656,29.515,29.598,59.615,29.45,30.289,28.657
2,23.708,8.863,9.008,11.53,8.951,27.207,22.609,23.014,26.931,9.27,22.174,9.151
3,22.412,17.913,17.855,17.697,18.033,10.173,18.498,23.202,9.816,10.911,18.264,10.295
4,14.224,26.669,26.767,24.187,26.871,2.199,14.026,14.952,2.193,15.176,13.825,15.051
5,9.138,41.82,41.589,36.301,41.503,1.765,15.352,9.234,1.445,35.193,15.448,36.845

In [35]:
bambo_or_timber = ['bamboo or timber','bamboo/timber']
mixed =  ['clay sand mixed mortar-stone/brick', 'mud mortar-stone/brick','clay mortar-stone/brick']
other = ['others','other']
rc = ['rc', 'reinforced concrete']
cement_stone_or_cement_brick = ['cement-stone or cement-brick','cement-stone/brick']

def handle_type_of_foundation(foundation):
    if foundation in bambo_or_timber:
        return 'bamboo_or_timber'
    elif foundation in other:
        return 'other'
    elif foundation in mixed:
        return 'mixed'
    elif foundation in rc:
        return 'rc'
    elif foundation in cement_stone_or_cement_brick:
        return 'cement_stone_or_cement_brick'
    else:
        return foundation

train_data['type_of_foundation'] = train_data['type_of_foundation'].apply(handle_type_of_foundation)
test_data['type_of_foundation'] = test_data['type_of_foundation'].apply(handle_type_of_foundation)

### 'type_of_roof'

In [36]:
make_eda_using_correlation_within_damagegrade(train_data, 'type_of_roof')

,bamboo/timber light roof,wood light roof or bamboo heavy roof,nan,wood light roof or bamboo light roof,bamboo or timber light roof,bamboo/timber-light roof,reinforced brick slab/rcc/rbc,bamboo/timber heavy roof,reinforced cement concrete/rb/rbc,bamboo or timber heavy roof,bamboo/timber-heavy roof,rcc/rb/rbc,reinforced brick concrete/rcc/rbc
1,8.167,6.383,10.27,8.303,7.985,8.144,55.065,6.186,54.697,6.62,6.201,55.446,52.965
2,10.355,10.416,11.564,10.384,10.994,10.022,28.363,10.064,27.494,9.175,10.888,27.048,29.167
3,17.875,19.377,17.835,17.595,17.683,18.3,10.94,20.01,11.866,19.338,19.124,12.215,11.699
4,25.924,24.257,24.139,25.893,25.663,25.758,3.606,24.149,3.558,24.448,23.598,3.012,3.686
5,37.678,39.568,36.192,37.824,37.674,37.776,2.026,39.591,2.385,40.418,40.189,2.28,2.484

In [37]:
bambo_or_timber_light = ['bamboo/timber light roof','bamboo or timber light roof',
                         'bamboo/timber-light roof','wood light roof or bamboo light roof']
bambo_or_timber_heavy = ['bamboo/timber heavy roof','bamboo or timber heavy roof','bamboo/timber-heavy roof',
                         'wood light roof or bamboo heavy roof']
rcc_rb_rbc = ['reinforced cement concrete/rb/rbc','rcc/rb/rbc', 'rcc_rbc', 
              'reinforced brick slab/rcc/rbc', 'reinforced brick concrete/rcc/rbc']

def handle_type_of_roof(roof):
    if roof in bambo_or_timber_light:
        return 'bamboo_or_timber_light'
    elif roof in bambo_or_timber_heavy:
        return 'bamboo_or_timber_heavy'
    elif roof in rcc_rb_rbc:
        return 'rcc_rb_rbc'
    else:
        return roof
    
train_data['type_of_roof'] = train_data['type_of_roof'].apply(handle_type_of_roof)
test_data['type_of_roof'] = test_data['type_of_roof'].apply(handle_type_of_roof)

### 'type_of_ground_floor'

In [38]:
make_eda_using_correlation_within_damagegrade(train_data, 'type_of_ground_floor')

,clay,nan,mud,brick or stone,reinforced concrete,rc,"soil, water, loam mixed",brick/stone,other,lumber,timber,wood
1,6.191,10.249,6.24,9.091,46.509,45.843,6.396,8.514,26.562,18.933,19.209,19.101
2,9.551,11.581,9.579,10.304,27.141,27.912,10.441,9.85,17.708,18.0,14.689,15.73
3,18.554,17.804,18.23,16.345,14.89,14.634,17.861,16.828,23.785,15.467,16.949,12.36
4,26.141,24.128,26.166,24.629,6.644,6.803,26.207,25.008,17.882,20.667,18.079,19.101
5,39.563,36.238,39.786,39.631,4.815,4.808,39.095,39.8,14.062,26.933,31.073,33.708

In [39]:
brick_or_stone = ['brick/stone','brick or stone']
rc = ['rc','reinforced cement', 'reinforced concrete']
wood = ['timber','lumber']
clay_mud = ['clay', 'mud', 'soil, water, loam mixed']

def handle_type_of_ground_floor(floor):
    if floor in brick_or_stone:
        return 'brick_or_stone'
    elif floor in rc:
        return 'rc'
    elif floor in wood:
        return 'wood'
    elif floor in clay_mud:
        return 'clay_mud'
    else:
        return floor
    
train_data['type_of_ground_floor'] = train_data['type_of_ground_floor'].apply(handle_type_of_ground_floor)
test_data['type_of_ground_floor'] = test_data['type_of_ground_floor'].apply(handle_type_of_ground_floor)

### 'type_of_other_floor'

In [40]:
make_eda_using_correlation_within_damagegrade(train_data, 'type_of_other_floor')

,timber/bamboo-mud,wood-mud or bamboo mud,timber mud or bamboo-mud,nan,not applicable,wood or bamboo mud,rcc/rb/rbc,wood-plank,timber-planck,lumber-plank,reinforced brick concrete/rcc/rbc,reinforced cement concrete/rb/rbc
1,4.108,4.325,4.06,10.223,25.901,4.067,51.432,9.321,9.331,9.349,53.425,50.502
2,8.917,8.957,8.84,11.566,17.719,9.515,27.507,11.296,11.165,10.642,27.397,27.648
3,19.153,19.047,19.006,17.811,15.376,19.049,12.959,16.648,17.029,17.024,12.877,12.709
4,28.729,28.981,28.794,24.157,12.919,29.496,4.588,21.742,21.068,22.006,3.699,5.351
5,39.093,38.69,39.301,36.243,28.086,37.873,3.514,40.994,41.408,40.979,2.603,3.79

In [41]:
wood_or_bambo_mud = ['wood-mud or bamboo mud','wood or bamboo mud','timber/bamboo-mud','timber mud or bamboo-mud']
rcc_rb_rbc = ['rcc/rb/rbc', 'reinforced cement concrete/rb/rbc', 'reinforced brick concrete/rcc/rbc']
wood_plank = ['wood-plank','timber-planck','lumber-plank']

def handle_type_of_other_floor(floor):
    if floor in wood_or_bambo_mud:
        return 'wood_or_bambo_mud'
    elif floor in rcc_rb_rbc:
        return 'rcc_rb_rbc'
    elif floor in wood_plank:
        return 'wood_plank'
    else:
        return floor

train_data['type_of_other_floor'] = train_data['type_of_other_floor'].apply(handle_type_of_other_floor)
test_data['type_of_other_floor'] = test_data['type_of_other_floor'].apply(handle_type_of_other_floor)

### nan -> np.nan

In [42]:
# Change 'nan' to np.nan
train_data = train_data.replace('nan', np.nan)
test_data = test_data.replace('nan', np.nan)

### 'plinth_area(ft^2)'

In [43]:
train_data[train_data['plinth_area(ft^2)'] == 'More'].shape

(6242, 24)

In [44]:
train_data['ismorethanplintharea'] = train_data['plinth_area(ft^2)'].apply(lambda x: 1 if x == 'More' else 0)
test_data['ismorethanplintharea'] = test_data['plinth_area(ft^2)'].apply(lambda x: 1 if x == 'More' else 0)

In [45]:
# Change 'more' to 0
train_data['plinth_area(ft^2)'] = train_data['plinth_area(ft^2)'].apply(lambda x: -1 if x == 'More' else float(x))
test_data['plinth_area(ft^2)'] = test_data['plinth_area(ft^2)'].apply(lambda x: -1 if x == 'More' else float(x))

### 'no_family_residing'

In [46]:
def handle_no_family_residing(no_family):
    if no_family == 'None':
        return 0
    elif no_family == np.nan:
        return np.nan
    else:
        return float(no_family)

train_data['no_family_residing'] = train_data['no_family_residing'].apply(handle_no_family_residing)
test_data['no_family_residing'] = test_data['no_family_residing'].apply(handle_no_family_residing)

### 'public_place_type'

In [47]:
make_eda_using_correlation_within_damagegrade(train_data, 'public_place_type')

,non-public,religious sites,other institutional building,drugstore,health clinics,shopping sites,hospital,high school,university,middle school,primary school,recreational park,museum
1,10.263,50.588,48.936,23.529,19.643,49.804,40.373,39.362,39.175,39.535,36.0,25.0,57.447
2,11.465,16.471,23.404,25.21,25.0,23.137,24.845,19.149,34.021,13.953,21.6,43.75,10.638
3,17.884,17.059,18.085,15.966,23.214,10.98,16.77,15.957,11.34,19.767,18.4,18.75,10.638
4,24.144,9.412,5.319,10.924,16.071,11.765,11.801,3.191,11.34,15.116,12.0,6.25,14.894
5,36.245,6.471,4.255,24.37,16.071,4.314,6.211,22.34,4.124,11.628,12.0,6.25,6.383

In [48]:
public_places = ['shopping sites','recreational park','museum']
education_places = ['high school','university','middle school','primary school']
health_places = ['drugstore','health clinics','hospital']

def handle_public_place_type(public_place):
    if public_place in public_places:
        return 'public_places'
    elif public_place in education_places:
        return 'education_places'
    elif public_place in health_places:
        return 'health_places'
    else:
        return public_place

train_data['public_place_type'] = train_data['public_place_type'].apply(handle_public_place_type)
test_data['public_place_type'] = test_data['public_place_type'].apply(handle_public_place_type)

### 'position'

In [49]:
make_eda_using_correlation_within_damagegrade(train_data, 'position')

  not attached  NaN attached-1 side attached-2 side attached-3 side
1        10.36  NaN           8.478          19.366          27.337
2       11.606  NaN            9.65           15.36          18.272
3       18.344  NaN          16.242          17.329          16.147
4       24.121  NaN          24.848          20.193          23.229
5       35.569  NaN          40.782          27.753          15.014

In [50]:
def handle_position(position):
    if position == 'not attached':
        return 0
    elif position == 'attached-1 side':
        return 1
    elif position == 'attached-2 side':
        return 2
    elif position == 'attached-3 side':
        return 3
    else:
        return position

train_data['position'] = train_data['position'].apply(handle_position)
test_data['position'] = test_data['position'].apply(handle_position)

### 'flexible_superstructure'

In [51]:
def handle_flexible_superstructure(flexible):
    if flexible == 'unavailable':
        return 0
    elif flexible == 'available':
        return 1
    else:
        return flexible

train_data['flexible_superstructure'] = train_data['flexible_superstructure'].apply(handle_flexible_superstructure)
test_data['flexible_superstructure'] = test_data['flexible_superstructure'].apply(handle_flexible_superstructure)

### 'type_of_reinforcement_concrete'

In [52]:
make_eda_using_correlation_within_damagegrade(train_data, 'type_of_reinforcement_concrete')

      0.0  NaN     2.0     1.0     3.0
1   8.224  NaN  67.879   38.48  71.429
2   10.61  NaN  22.935  26.133  18.719
3  18.218  NaN   7.096  15.558   4.926
4  25.125  NaN   1.148    8.14   2.956
5  37.823  NaN   0.942   11.69    1.97

In [53]:
# 0	No reinforcement concrete
# 1	Has non-engineered reinforcement concrete
# 2	Has engineered reinforcement concrete
# 3	Has both

def make_int(x):
    if x == float(0):
        return "no_rc"
    elif x == float(1):
        return "non_engineered_rc"
    elif x == float(2):
        return "engineered_rc"
    elif x == float(3):
        return "both"
    else:
        return np.nan

train_data['type_of_reinforcement_concrete'] = train_data['type_of_reinforcement_concrete'].apply(make_int)
test_data['type_of_reinforcement_concrete'] = test_data['type_of_reinforcement_concrete'].apply(make_int)

### 'wall_binding'

In [54]:
make_eda_using_correlation_within_damagegrade(train_data, 'wall_binding')

      0.0     5.0  NaN     2.0     1.0     7.0     3.0
1   41.64   3.742  NaN  44.035   7.269  10.172  16.216
2  20.616    8.58  NaN  30.306  13.747  18.378  28.716
3  15.514  17.989  NaN  15.832  27.994  28.784  28.716
4   9.969  27.248  NaN   5.621  28.612  26.942  16.892
5  12.261  42.441  NaN   4.206  22.379  15.725   9.459

In [55]:
def make_int(val):
    if val == float(0):
        return "other"
    
    elif val == float(1):
        return "clay"
    
    elif val == float(2):
        return "mortar_cement"

    elif val == float(3):
        return "mortar_cement_clay"
    
    elif val == float(5):
        return "mud_mortar_clay"
    
    elif val == float(7):
        return "mud_mortar_clay_cement_mortar"
    
    else:
        return np.nan

train_data['wall_binding'] = train_data['wall_binding'].apply(make_int)
test_data['wall_binding'] = test_data['wall_binding'].apply(make_int)

### wall_material

In [56]:
make_eda_using_correlation_within_damagegrade(train_data, 'wall_material')

      0.0     2.0  NaN     1.0     3.0
1  40.844   3.813  NaN  38.423  15.055
2  21.161   8.487  NaN  28.842  17.038
3  17.646   17.89  NaN  18.325  24.522
4   11.33  27.009  NaN   9.936  22.539
5   9.019    42.8  NaN   4.475  20.845

In [57]:
# 0	Unknown/not stated
# 1	Red Bricks
# 2	Stone Bricks
# 3	Red Bricks, Stone Bricks

def make_int(val):
    if val == float(0):
        return "unknown"
    
    elif val == float(1):
        return "red_bricks"
    
    elif val == float(2):
        return "stone_bricks"

    elif val == float(3):
        return "red_stone_bricks"
    
    else:
        return np.nan

train_data['wall_material'] = train_data['wall_material'].apply(make_int)
test_data['wall_material'] = test_data['wall_material'].apply(make_int)

In [58]:
# Drop duplicated rows
print("---------before drop duplicated rows---------")
print("Shape of train data: ", train_data.shape)
print(f"Duplicated rows: {train_data.duplicated().sum()}")
train_data = train_data.drop_duplicates()

print("---------after drop duplicated rows---------")
print(f"Dropped duplicated rows: {train_data.duplicated().sum()}")
print("Shape of train data: ", train_data.shape)

---------before drop duplicated rows---------
Shape of train data:  (722815, 25)
Duplicated rows: 373833
---------after drop duplicated rows---------
Dropped duplicated rows: 0
Shape of train data:  (348982, 25)

In [59]:
# Print all unique values in each column
print("---------train data---------")

for col in train_data.columns:
    print(col, train_data[col].unique())

print("---------test data---------")

for col in test_data.columns:
    print(col, test_data[col].unique())

---------train data---------
floors_before_eq(total) [ 2.  3. nan  1.  5.  4.  6.  8.  9.  7.]
old_building [  1.   3.   7.  18.  22.  nan  33.  40.  27.  68.  25.  15.  20.  28.
  35.  10.   4.   8.   5.  12.  32.  45.  13.  50.   6.  36.  70.  30.
  14.  75.  90.  34.  24.   2.   9.  16.  29. 999.  67.  60.  26.  38.
   0.  17.  37.  19.  80.  21.  11.  55.  44.  39.  23.  65.  48.  85.
  52.  31. 100.  57.  42.  41.  62. 120.  64.  43.  49.  47.  46.  88.
  82.  87.  69. 105.  99.  54. 140.  51.  72.  95.  63. 150. 176.  59.
  81.  58.  61.  53.  56.  84. 110.  66.  74.  98.  86. 109. 111. 200.
  73. 103.  79. 112.  78.  97.  92. 160.  71. 180.  76.  91.  96. 101.
 166. 106. 118. 108.  83.  77. 145. 130. 117.  93. 102. 135. 104. 170.
 131. 115.  89. 125. 128. 119.  94. 190. 174. 126. 132. 113. 116. 144.
 162. 138. 195. 141. 122. 175. 161. 196. 107. 121. 151. 142. 177. 124.
 127. 134. 178. 133. 123. 172. 168.]
plinth_area(ft^2) [ 256.  985.   nan  185.  290.  504.  616.  600.  500.   -1.  366.  150.
  300.  352.  358.  250.  360.  550.  310.  400.  735.  464.  380.  342.
  384.  432.  375.  490.  780.  494.  278.  228.  475.  440.  280.  288.
  368.  312.  450.  383.  425.  968.  200.  140.  410.  264.  194.  230.
  438.  405.  130.  297.  525.  392.  176.  420.  242.  286.  364.  210.
  445.  495.  240.  340.  660.  396.  233.  260.  289.  508.  299.  320.
  648.  222.  301.  265.  270.  544.  220.  153.  700.  350.  285.  351.
  174.  800.  315.  318.  173.  478.  465.  324.  338.  462.  356.  483.
  496.  325.  253.  155.  246.  190.  435.  820.  225.  216.  272.  385.
  180.  810.  382.  620.  363.  590.  160.  434.  357.  531.  152.  430.
  245.  263.  416.  567.  594.  204.  576.  486.  309.  378.  284.  562.
  177.  255.  545.  305.  390.  171.  456.  588.  100.  348.  231.  850.
  729.  510.  125.  460.  437.  409.  247.  361.  170.  214.  609.  322.
  275.  960.  916.  387.   96.  900.  303.  520. 1000.  528.  487.  999.
  344.  540.  295.  252.  725.  336.  165.  472.  862.  734.  750.  412.
  448.  205.  308.  990.  332.  408.  182.  676.  446.  330.  580.  555.
  304.  650.  816.  370.  485.   86.  918.  665.  337.  391.  442.  452.
  640.  266.  720.  418.  961.  120.  198.  283.  144.  468.  551.  613.
  860.  279.  208.  321.  238.  547.  674.  234.  480.  202.  424.  196.
  281.  257.  526.  345.  708.  532.  793.  506.  388.  745.  223.  455.
  570.  598.  509.  629.  323.  459.  578.  702.  188.  365.  957.  413.
  215.  217.  684.  110.  756.  254.  924.  339.  911.  376.  294.  224.
  287.  577.  612.  232.  530.  386.  492.  404.  414.  507.  513.  244.
  680.  792.  362.  249.  840.  355.  770.  296.  273.  512.  343.  896.
  493.   81.  235.  945.  298.  282.  476.  218.  203.  560.  651.  276.
  394.  374.  123.  630.  379.  685.  585.  607.  306.  754.  175.  805.
  326.  398.  406.  189.  426.  316.  302.  167.  341.  714.  989.  261.
  675.  882.  441.  347.  377.  952.  199.  453.  415.  537.  581.  346.
  644.  912.  722.  207.  395.  522.  135.  621.  572.  614.  129.   90.
  536.  128.  132.  421.  755.  429.  646.  973.  690.  656.  419.  950.
  335.   99.  891.  389.  704.  552.  897.  427.   80.  268.  693.  739.
  561.  354.  615.  311.  681.  371.  436.  602.  584.  124.  457.  241.
  794.  748.  524.  147.  741.  226.  484.  195.  940.  686.  138.  538.
  527.  855.  870.  604.   84.  444.  518.  156.  832.  556.  497.  458.
  658.  682.  812.  825.  433.  529.  608.  610.  864.  470.  647.  399.
  501.  546.  573.  221.  466.  742.  403.  401.  463.  553.  454.  292.
  649.  314.  237.  920.  179.  625.  575.  521.  571.  936.  776.  411.
  788.  759.  145.  193.  148.  277.  778.  209.  801.  821.  201.  327.
  293.  192.  558.  168.  696.  307.  236.  248.  517.  851.  962.   91.
  533.  407.  267.  715.   85.  369.  154.  790.  259.  654.  710.  774.
  505.  652.  229.  779.  515.  638.  738.  187.  251.  728.  712.  830.
  760.  634.  417.  184.  393.  623.  111.  736.  740.  861.  105.  212.
  514.  467.  108.  328.  474.  784.  713.  258.  592.  431.  469.  798.
  930.  672.  841.  819.  668.  975.   75.  372.  856.  589.  535.  669.
  925.  718.  730.  213.  477.  777.  586.  595.  449.  659.  596.  559.
  349.  803.  162.  606.  117.  134.  479.  269.  753.  761.  534.  980.
  837.   72.  619.  931.  817.  929.  109.  516.  146.  645.  565.  618.
  689.  422.  752.  481.  744.  978.  836.  227.  121.  313.  956.  726.
  211.  423.  661.  628.  875.  627.  914.  898.  317.  353.  663.  603.
  239.  845.  874.  789.  262.  574.  564.  662.  186.  334.  502.  402.
  605.  922.  786.  428.  783.  583.  291.  181.  367.  149.  169.  164.
  243.  333.  910.  955.  554.  826.  986.  511.  814.  624.  115.  548.
  114.  397.  381.  764.  488.  703.  972.  473.  151.  666.  593.  587.
  206.  373.  643.  451.  639.  329.  867.  765.  166.  142.  653.  489.
  822.  954.  158.  758.  679.  626.  905.  163.  670.  331.  503.  219.
   88.  694.  677.  482.  319.  688.  443.  274.  178.  447.  890.  933.
  116.  948.  737.  823.   70.  782.  126.  667.  579.  880.  888.  642.
  141.  747.  523.  633.  566.  943.  839.  563.  542.  568.  853.  687.
  983.  549.  617.  865.  732.  119.  557.   95.  582.  499.  876.  697.
  271.  136.  498.  749.  928.  143.  664.  899.   94.  102.  804.  611.
  969.  439.  813.  159.  706.  893.  843.  104.  946.  724.  988.  884.
  913.  970.  691.  775.  543.  183.  122.  883.  107.  992.  886.  597.
  541.  834.  868.  359.  854.  701.  903.  636.  949.  157.  112.  631.
  197.  601.  635.  858.  569.  768.  491.  657.  902.  127.  695.  622.
  139.  705.  137.  915.  806.   92.  995.  829.  878.  879.   77.  833.
  698.  942.  796.  751.  716.  892.  787.  844.  637.  599.  118.  641.
  979.  919.  998.  763.  852.  842.  781.   74.  938.  711.  673.  591.
  785.  944.  795.  683.  815.  846.  827.  632.  172.  904.  807.  692.
  731.  965.  908.  113.  471.  921.  866.  953.  877.  191.  831.  519.
  894.  889.  771.  461.  733.  161.  828.   93.  709.  717.  743.  727.
  103.  981.  984.   73.  799.  963.  757.  895.  678.  723.  993.  991.
  885.  655.  849.  994.  106.  101.  791.  987.  772.  824.  769.  809.
  811.   82.  996.  906.  746.  974.  966.  947.  721.  909.  881.  982.
  133.  932.  773.   98.  939.   87.  539.  937.  699.  887.  869.  818.
  848.  941.  857.  808.   78.  835.  964.  131.  762.  923.  766.  934.
  901.  872.  935.  859.  958.  719.  917.  927.  873.  671.  976.  767.
   79.  707.  838.  871.  847.  971.  959.   71.  926.  802.  967.  907.
   97.  951.  863.  997.  797.   89.   76.]
height_before_eq(ft) [22. 18. 14. 15. 17. nan 16.  9. 45. 19. 10. 12. 20. 21. 25.  6. 24.  7.
 13.  8. 11. 30. 23. 27. 36. 26. 40. 56. 32. 28. 29. 35. 38. 31. 74. 34.
 50. 65. 99. 33. 60. 48. 75. 51. 54. 46. 44. 47. 70. 55. 80. 61. 37. 93.
 52. 77. 96. 72. 81. 42. 64. 85. 39. 57. 63. 95. 67. 43. 78. 49. 41. 58.
 68. 76. 90. 66. 71. 89.]
land_surface_condition ['flat' nan 'moderate slope' 'steep slope']
type_of_foundation ['bamboo_or_timber' 'mixed' nan 'rc' 'cement_stone_or_cement_brick'
 'other']
type_of_roof ['bamboo_or_timber_light' 'bamboo_or_timber_heavy' nan 'rcc_rb_rbc']
type_of_ground_floor ['clay_mud' nan 'brick_or_stone' 'rc' 'other' 'wood']
type_of_other_floor ['wood_or_bambo_mud' nan 'not applicable' 'rcc_rb_rbc' 'wood_plank']
position [ 0. nan  1.  2.  3.]
building_plan_configuration ['rectangular' 'square' nan 'l-shape' 't-shape' 'multi-projected'
 'u-shape' 'others' 'e-shape' 'building with central courtyard' 'h-shape']
technical_solution_proposed [nan 'reconstruction' 'major repair' 'no need' 'minor repair']
legal_ownership_status ['private' nan 'public' 'other' 'institutional']
has_secondary_use [ 0. nan  1.]
type_of_reinforcement_concrete ['no_rc' nan 'engineered_rc' 'non_engineered_rc' 'both']
residential_type ['non-residential' nan 'hotel/motel' 'rental residential' 'housing'
 'other' 'other residential type']
no_family_residing [ 1. nan  0.  2.  3.  4.  7.  5.  6.  9.  8. 11.]
public_place_type ['non-public' 'religious sites' 'other institutional building'
 'health_places' 'public_places' 'education_places']
industrial_use_type ['non-industrial' nan 'metallurgy' 'service/tourism' 'food'
 'manufacturing' 'infrastructure' 'agro' 'farm' 'forest-based']
govermental_use_type ['non-govermental' nan 'police offices' 'govermental buildings']
flexible_superstructure [ 0.  1. nan]
wall_binding ['other' 'mud_mortar_clay' nan 'mortar_cement' 'clay'
 'mud_mortar_clay_cement_mortar' 'mortar_cement_clay']
wall_material ['unknown' 'stone_bricks' nan 'red_bricks' 'red_stone_bricks']
damage_grade [1. 5. 4. 2. 3.]
ismorethanplintharea [0 1]
---------test data---------
id [     0      1      2 ... 242079 242080 242081]
floors_before_eq(total) [2 3 1 5 4 6 7 9]
old_building [  7  13  40  25   5   6  10  17  31  18  44   2  15  16  12  30   3 999
  21   4  11   9  22  35  23  20  27   1   8  14  47  34  42  50 100  19
  32  33  64  28  60  45   0  29  70  26  38  41  39  54  24  37  80  43
  36  56  58  55  62 200  76  68  51  48  78  99  46  82  90  65 110 140
  52  75  63  57  85  83  81  61  53 114  71  95  72 102  94  69  74  73
  49 120 123  66  59 150 125  86  67 103  79 115  84  77 112 105 116  92
  88 122 130 104  96 109  89  97 111  87 107  98  91 148 160 180 113 108
 156 141 155 133 170 118 135 175 172 178 152 190 101 151 149  93 117 195]
plinth_area(ft^2) [ 418.  396.  400.  378.  375.  534.  416.  558.  255.  300.  216.  342.
  457.  350.  240.  310.  450.  672.  260.  308.   -1.  270.  162.  150.
  891.  648.  180.  420.  200.  275.  392.  695.  315.  900.  720.  430.
  228.  500.  476.  176.  261.  330.  540.  590.  155.  313.  225.  547.
  530.  360.  169.  252.  301.  286.  550.  190.  932.  485.  600.  299.
  410.  441.  445.  280.  395.  759.  273.  250.  501.  220.  652.  364.
  864.  425.  494.  243.  665.  598.  650.  153.  197.  470.   78.  145.
  265.  519.  405.  305.  239.  384.  513.  440.  338.  340.  432.  750.
  422.  276.  589.  130.  264.  700.  560.  966.  660.  312.  380.  502.
  836.  258.  754.  336.  204.  345.  390.  434.  326.  343.  480.  285.
  685.  115.  391.  320.  437.  290.  640.  486.  324.  230.  325.  268.
  192.  462.  298.  625.  806.  349.  226.  263.  304.  775.  576.  238.
  800.  371.  475.  402.  411.  123.  372.  820.  676.  696.  504.  406.
  925.  570.  202.  423.  612.  839.  303.  484.  253.  246.  460.  415.
  100.  365.  610.  398.  725.  442.  651.  527.  248.  382.  208.  459.
  143.  581.  798.  408.  376.  288.  210.  185.  196.  214.  544.  912.
  354.  446.  160.  654.  510.  850.  526.  346.  448.  394.  245.  703.
  525.  111.  592.  575.  272.  170.  370.  321.  428.  368.  198.  722.
  630.  283.  704.  223.  616.  493.  352.  903.  458.  351.  166.  454.
  680.  978.   98.  537.  551.  741.  580.  247.  412.  295.  684.  302.
  385.  234.  675.  140.  294.  377.  141.  536.  635.  520.  535.  505.
  960.  739.  344.  451.  512.  980.  205.  296.  209.  366.  357.  521.
  348.  531. 1000.  175.  203.  522.  136.  329.  682.  274.  221.  306.
  620.  388.  888.  284.  414.  468.  374.  404.  737.  464.  110.  756.
  322.  786.  269.  515.  211.  426.  455.  714.  254.   80.  323.  222.
  495.  594.  241.  496.  857.   90.  443.  709.  546.  333.  215.  444.
  282.  421.  474.  713.  490.  267.  362.  289.  636.  419.  201.  561.
  770.  856.  142.  399.  624.  565.  409.  545.  165.  287.  950.  435.
  465.  529.  195.  752.  608.  174.  361.  702.  355.  828.  337.  586.
  483.  940.  688.   81.  127.  158.  429.  413.  693.  896.  572.  307.
  244.  314.  316.  181.  882.  567.  653.  120.  256.  309.  318.  968.
  910.  477.  224.  492.  568.  259.  735.  154.  242.  207.  667.  393.
  135.  868.   75.  658.  508.  347.  542.  578.  173.  389.  532.   96.
  729.  156.  292.  383.  163.  518.  880.  403.  554.  548.  381.  588.
  810.  427.  456.  890.  367.  262.  358.  990.  453.  760.  609.  860.
  356.  585.  556.  690.  711.  516.  855.  235.  187.  712.  999.  472.
  744.  902.  765.   95.  479.  125.  293.  386.  948.  851.  721.  281.
  482.  784.  992.  233.  452.  236.   99.  227.  924.  666.  471.  105.
  379.  552.  328.   72.  149.  686.  807.  920.  297.  596.  549.  191.
  317.  353.  266.  431.  595.  212.  619.  538.  528.  524.  644.  189.
  767.  467.  569.  334.  603.  319.  291.  184.  634.  591.  232.  186.
  825.  563.  218.  517.  794.  854.  780.  438.  341.  840.  159.  972.
  663.  433.  237.  473.  555.  397.  875.  833.  938.  193.  489.  373.
  167.  231.  182.  957.  845.  332.  335.  144.  487.  506.  872.  509.
  557.  724.  730.  643.  577.  571.  710.  745.  498.  116.  814.  213.
  629.  708.  777.  171.  627.  893.  194.  327.  837.  706.  637.  161.
  790.  503.  114.  117.  728.  363.  178.  892.  865.  615.  736.  587.
  407.  573.   86.  543.  621.  657.  447.  923.  618.  605.  168.  553.
  731.  689.  670.  795.  726.  645.  646.  106.  122.  859.  772.  622.
  523.  943.  638.  369.  870.  742.  514.   70.  641.  138.  436.  602.
  970.  339.  858.  118.  152.  841.  639.  279.  816.  219.  886.  488.
  507.  607.  962.  132.  768.  697.  662.  740.  478.  157.  533.  331.
   84.  566.  655.  801.  497.  559.  387.  481.  424.  804.  401.  271.
  884.  959.  691.  541.  604.  908.  146.  112.  206.  108.  574.  614.
  188.  716.  743.  979.  311.  753.  277.  278.  946.  623.  677.  124.
  885.  945.  788.  815.  674.  747.  562.  613.  128.  894.  131.  611.
  842.  818.  812.  817.  774.  822.  632.  832.  539.  147.  172.  758.
  417.  792.  827.  151.  830.  879.   88.  217.  617.  359.  785.   94.
  715.  935.  761.  249.  564.  469.  199.  734.  121.  148.  647.  985.
  439.  793.  466.  177.  683.  584.  852.  133.  626.  699.  918.  769.
  126.  936.  911.  963.  671.  796.  701.  861.  707.  821.  499.  915.
  782.  779.  257.  993.  642.  738.  778.  838.  846.   79.  878.  899.
  981.  107.  104.  668.  251.  983.  771.  692.  930.  783.  179.  748.
  129.  659.  669.  898.  511.  803.  809.  102.  805.  835.  823.  889.
  732.  597.  763.  949.   91.  723.  463.  988.  931.  694.  901.  913.
  679.  989.   92.  914.  628.  749.  987.  601.  844.  843.  579.  718.
  808.  952.   77.  877.  975.  727.  764.  164.  582.  965.  134.  599.
  961.   85.  819.  109.  687.  661.  491.  947.  871.  883.  664.  956.
  593.  874.  461.  998.  633.  183.  755.  449.  862.  606.  876.  766.
  656.  928.  678.  904.  922.  583.  698.  905.  848.  866.  751.  773.
  789.  994.  969.  797.  954.  897.  974.  791.  229.  909.   73.  926.
   71.  137.  113.  705.  863.  967.  867.  906.  986.  907.  802.  955.
  921.  824.  673.  996.  776.  787.  916.  977.  984.  762.  995.  139.
  982.  944.  951.  941.  976.  811.  719.   82.  831.  853.  881.  826.
  813.  847.  119.  746.  973.  953.  681.  937.  649.  781.  942.  799.
  917.  895.  829.   74.  939.  103.  997.  733.  964.  631.  991.  887.
  834.  717.  927.  958.   89.  869.   93.   97.  933.   87.  929.  873.
  919.  757.  101.  849.]
height_before_eq(ft) [14 21 18 20 15 16 22 12 17 10 30  9 26  8  6 24 19 45 42 23 25 13 27  7
 11 34 40 36 60 48 28 35 31 32 54 50 29 38 33 58 46 37 57 39 63 99 97 44
 56 47 95 52 76 67 70 78 41 55 75 59 66 71 96 43 51 65 85 72 74 49 77]
land_surface_condition ['flat' 'moderate slope' 'steep slope']
type_of_foundation ['mixed' 'bamboo_or_timber' 'rc' 'cement_stone_or_cement_brick' 'other']
type_of_roof ['bamboo_or_timber_light' 'bamboo_or_timber_heavy' 'rcc_rb_rbc']
type_of_ground_floor ['clay_mud' 'brick_or_stone' 'rc' 'other' 'wood']
type_of_other_floor ['wood_or_bambo_mud' 'wood_plank' 'not applicable' 'rcc_rb_rbc']
position [0 2 1 3]
building_plan_configuration ['rectangular' 'l-shape' 't-shape' 'square' 'multi-projected' 'others'
 'u-shape' 'e-shape' 'building with central courtyard' 'h-shape']
technical_solution_proposed ['reconstruction' 'minor repair' 'no need' 'major repair']
legal_ownership_status ['private' 'institutional' 'public' 'other']
has_secondary_use [0. 1.]
type_of_reinforcement_concrete ['no_rc' 'non_engineered_rc' 'engineered_rc' 'both']
residential_type ['non-residential' 'hotel/motel' 'housing' 'rental residential' 'other'
 'other residential type']
no_family_residing [1. 3. 0. 2. 4. 5. 6. 7. 8. 9.]
public_place_type ['non-public' 'education_places' 'other institutional building'
 'health_places' 'public_places' 'religious sites']
industrial_use_type ['non-industrial' 'food' 'infrastructure' 'service/tourism'
 'manufacturing' 'metallurgy' 'forest-based' 'farm' 'agro']
govermental_use_type ['non-govermental' 'police offices' 'govermental buildings']
flexible_superstructure [0 1]
wall_binding ['mud_mortar_clay' 'other' 'mortar_cement' 'clay'
 'mud_mortar_clay_cement_mortar' 'mortar_cement_clay']
wall_material ['stone_bricks' 'unknown' 'red_bricks' 'red_stone_bricks']
ismorethanplintharea [0 1]

In [60]:
df = pd.DataFrame(train_data.dtypes, columns=['Data Type'])
df['nunique'] = train_data.nunique()
df

                               Data Type  nunique
floors_before_eq(total)          float64        9
old_building                     float64      160
plinth_area(ft^2)                float64      930
height_before_eq(ft)             float64       77
land_surface_condition            object        3
type_of_foundation                object        5
type_of_roof                      object        3
type_of_ground_floor              object        5
type_of_other_floor               object        4
position                         float64        4
building_plan_configuration       object       10
technical_solution_proposed       object        4
legal_ownership_status            object        4
has_secondary_use                float64        2
type_of_reinforcement_concrete    object        4
residential_type                  object        6
no_family_residing               float64       11
public_place_type                 object        6
industrial_use_type               object        9
govermental_use_type              object        3
flexible_superstructure          float64        2
wall_binding                      object        6
wall_material                     object        4
damage_grade                     float64        5
ismorethanplintharea               int64        2

In [61]:
df = pd.DataFrame(test_data.dtypes, columns=['Data Type'])
df['nunique'] = test_data.nunique()
df

                               Data Type  nunique
id                                 int64   242082
floors_before_eq(total)            int64        8
old_building                       int64      144
plinth_area(ft^2)                float64      928
height_before_eq(ft)               int64       71
land_surface_condition            object        3
type_of_foundation                object        5
type_of_roof                      object        3
type_of_ground_floor              object        5
type_of_other_floor               object        4
position                           int64        4
building_plan_configuration       object       10
technical_solution_proposed       object        4
legal_ownership_status            object        4
has_secondary_use                float64        2
type_of_reinforcement_concrete    object        4
residential_type                  object        6
no_family_residing               float64       10
public_place_type                 object        6
industrial_use_type               object        9
govermental_use_type              object        3
flexible_superstructure            int64        2
wall_binding                      object        6
wall_material                     object        4
ismorethanplintharea               int64        2

In [62]:
print(train_data.isnull().sum())
print("\n",train_data.shape)

floors_before_eq(total)            22424
old_building                        2115
plinth_area(ft^2)                  59593
height_before_eq(ft)               22424
land_surface_condition             13527
type_of_foundation                  2115
type_of_roof                       59593
type_of_ground_floor               22424
type_of_other_floor                13527
position                           16536
building_plan_configuration        13527
technical_solution_proposed       302655
legal_ownership_status               220
has_secondary_use                   1080
type_of_reinforcement_concrete     11381
residential_type                    7823
no_family_residing                   460
public_place_type                      0
industrial_use_type                  101
govermental_use_type                4280
flexible_superstructure               22
wall_binding                          22
wall_material                       1671
damage_grade                           0
ismorethanplintharea                   0
dtype: int64

 (348982, 25)

In [63]:
print(test_data.isnull().sum())
print("\n",test_data.shape)

id                                0
floors_before_eq(total)           0
old_building                      0
plinth_area(ft^2)                 0
height_before_eq(ft)              0
land_surface_condition            0
type_of_foundation                0
type_of_roof                      0
type_of_ground_floor              0
type_of_other_floor               0
position                          0
building_plan_configuration       0
technical_solution_proposed       0
legal_ownership_status            0
has_secondary_use                 0
type_of_reinforcement_concrete    0
residential_type                  0
no_family_residing                0
public_place_type                 0
industrial_use_type               0
govermental_use_type              0
flexible_superstructure           0
wall_binding                      0
wall_material                     0
ismorethanplintharea              0
dtype: int64

 (242082, 25)

In [64]:
# damage_grade change into int

train_data['damage_grade'] = train_data['damage_grade'].astype(int)
print(train_data['damage_grade'].unique())

[1 5 4 2 3]

## Export the cleaned data to csv file

In [65]:
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)